# large data files
data/honeypot.json
data/honeypot_df.pkl
# Byte-compiled / optimized / DLL files
*.DS_Store
*__pycache__/.pyc
*.py[cod]
.ipynb_checkpoints
analysis/.ipynb_checkpoints/*ipynb
.pytest_cache
 
#config file
aws.cfg